<launch>

    <!-- launch gazebo -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
       <arg name="world_name" value="/home/hlh/catkin_arm_ws/src/icl_simu/world/ilcalib5.world"/>
       <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <!-- <arg name="sdf_robot_file" default="$(arg spawn_sdf)"/> -->
    </include>

    <!-- laod robot description   ilcalib1-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find icl_simu)/urdf/my_car_vodyne_imu.xacro'" />

    <!-- run joint_state_publisher node，publish joint state   -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- run robot_state_publisher node，pubish tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!--show  robot model in gazebo  -->
    <node name="spawne_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model mrobot -param robot_description"/> 


</launch>
